# Gophers 🐻

Hey 👋! Here are some drawings I have been using for [talks about Golang](https://talks.lepage.dev).

These are mainly [gophers](#gophers), but also some [dukes](#dukes), and [miscellaneous](#miscellaneous).

See [License](#license) for license information.
{{range $folder := .folders}}
## {{$folder.PrettyName}}
{{range $index, $file := $folder.Files}}
[![{{$file}}](https://raw.githubusercontent.com/nlepage/gophers/main/thumbnails/{{$folder.Name}}/{{$file}})](https://github.com/nlepage/gophers/blob/main/{{$folder.Name}}/{{$file}}){{end}}
{{end}}
## License

Gophers © 2021 by Nicolas Lepage is licensed under Attribution-NonCommercial-ShareAlike 4.0 International.
To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/4.0/
